{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
{% if token_fail %}Bad Token{% else %}Change Password{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-8 col-lg-6 mt-4 offset-md-2">

            <h2 class="my-2">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h2>

            {% if token_fail %}
            <p class="my-2">
                The password reset link was invalid, possibly because it has already been used.
                Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
            </p>
            {% else %}
            <form method="post" action="{{ action_url }}">
                {% csrf_token %}
                {{ redirect_field }}
                {{ form|crispy }}                
                <button class="button button-cancel my-2" type="submit" form="logout-from-stage">Cancel</button>
                <button class="button button-primary ms-2 my-2" type="submit" name="action">Change Password</button>
            </form>
            {% endif %}

            {% if not cancel_url %}
            <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'account_login' %}">
            </form>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}