{% extends "base.html" %}

{% load i18n %}
{% load allauth %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4 offset-md-2">

            {% element h2 %}
            {% trans "Change Password" %}
            {% endelement %}
            {% element p %}
            {% trans 'Your password has been successfully changed.' %}
            {% endelement %}

        </div>
    </div>
</div>

{% endblock content %}