{% load static %}
<h1>ADMIN TEST PAGE</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gx-3 gy-3 gy-lg-5 gx-lg-4 mt-1">

    {% for product in products_list %}
    <div class="col">
        <a href="{% url 'product_details' product.slug product.id %}">
            <div class="product-card" data-product-id="{{ product.id }}">

                {% if product.image_url %}
                <img src="{{ product.image_url.url }}" alt="{{ product.name }}">
                {% elif product.image %}
                <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'images/placeholder.webp' %}" alt="No image available">
                {% endif %}

                <div class="d-flex flex-row justify-content-evenly mt-3">
                    <p>{{ product.name }}</p>
                    <p>{{ product.base_price }}€</p>
                </div>

            </div>
        </a>
    </div>
    {% endfor %}
</div>