{% extends 'base.html' %}
{% load static %}
{% load display_lables %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}
<div class="container my-3 d-flex justify-content-center">

    {% include 'basket/includes/mobile.html' %}
    {% include 'basket/includes/desktop.html' %}

</div>
{% endblock %}

{% block extras %}
<!-- jQuery CDN link -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<!-- Custom jQuery -->
<script>

    // Add animation to edit/delete icons when hovered
    $(".basket-icons i").hover(function () {
        $(this).toggleClass("fa-beat");
    });

    // Remove item from basket end reload url
    // {{ csrf_token }} can be passed from template to view because JS is inline in template
    $(".button-delete").click(function () {
        const csrfToken = "{{ csrf_token }}";
        const itemId = $(this).data("item-id")
        const url = `/basket/delete/${itemId}/`
        const data = {
            "csrfmiddlewaretoken": csrfToken,
            "item_id": itemId
        };

        $.post(url, data).done(function () {
            location.reload();
        });
    });

    // Open the template to edit the item clicked in the basket
    $(".button-edit").click(function () {
        const itemId = $(this).data("item-id")
        const url = `/basket/edit/${itemId}/`  
        window.location.replace(url);
    });
</script>

{% endblock %}