/* ----- CSS Variables ----- */

:root {
    --heading-font: "Playfair Display", serif;
    --body-font: "Source Sans 3", sans-serif;

    --primary-color: #69776e;
    --secondary-color: #c9c1a6;
    --highlight-color: #ffd199;

    --light-color: #fdf4e9;
    --dark-color: #533528;
}

/* ----- General CSS ----- */

body {
    font-family: var(--body-font);
    color: var(--dark-color);
    font-size: 1.25rem;
}

h1,
h2 {
    letter-spacing: 0.06rem;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--dark-color);
    font-weight: bold;
}

.button {
    padding: 0.2rem 1rem;
    text-decoration: none;
}

.button-primary {
    background-color: var(--dark-color);
    border: 0.15rem solid var(--dark-color);
    border-radius: 1rem;
    color: var(--highlight-color);
}

.button-primary:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.button-cancel {
    background-color: rgb(120, 120, 120);
    border: 0.15rem solid rgb(120, 120, 120);
    border-radius: 1rem;
    color: var(--light-color);
}

.button-cancel:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.btn-none {
    border: none;
    background-color: transparent;
}

/* Scroll BUtton */
#scroll-top {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 5rem;
    right: 0.5rem;
    z-index: 999;
}

#scroll-top i {
    font-size: 2.5rem;
    
    color: var(--primary-color);
}

/* ----- Navbar ----- */

.logo {
    width: auto;
    height: 5rem;
}

/* Select parent link element of class logo */
a:has(.logo) {
    position: absolute;
    top: 0.2rem;
}

#nav-top {
    background-color: var(--primary-color);
    min-height: 3rem;
}

#nav-top .nav-link {
    color: var(--light-color);
    font-family: var(--heading-font);
    font-size: 1.25rem;
    letter-spacing: 0.06rem;
    position: relative;
}

#nav-top .nav-link:hover,
#nav-top .nav-link.active {
    color: var(--highlight-color);
}

/* ----- Sub-Navbar ----- */

#nav-sub {
    background-color: var(--primary-color);
}

#basket {
    position: relative;
}

#basket-count {
    background-color: var(--highlight-color);
    color: var(--dark-color);
    border-radius: 50%;
    font-size: 1rem;
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    bottom: -0.7rem;
    right: -0.5rem;
}

#nav-sub li {
    cursor: pointer;
}

#nav-sub i {
    color: var(--dark-color);
    font-size: 1.5rem;
}

#nav-sub a {
    text-decoration: none;
}

.account {
    color: var(--light-color);
    font-size: 1.125rem;
}

.account:hover {
    color: var(--highlight-color);
}

/* ----- Hero image ----- */

.hero {
    height: 50vh;
    background: url("../images/hero-small.webp") no-repeat bottom center / cover;
}

.error-bg {
    height: 80vh;
    background: url("../images/404.jpg") no-repeat bottom center / cover;
}

/* ----- Footer ----- */

footer {
    background-color: var(--dark-color);
    color: var(--highlight-color);
}

footer a {
    text-decoration: none;
    color: var(--highlight-color);
}


/* ----- About Page ----- */

#about {
    color: var(--dark-color);
}

#about i {
    color: var(--dark-color);
}

#about a {
    text-decoration: none;
    color: var(--dark-color);
}

/* ----- bootstrap toasts ----- */

.message-container {
    position: fixed;
    top: 8.6875rem;
    right: 1rem;
    z-index: 1000;
}

/* ----- Media Queries ----- */

/* small screen sizes - 576px up*/

@media screen and (min-width: 576px) {
    .hero {
        height: 70vh;
        background: url("../images/hero-small.webp") no-repeat bottom center / cover;
    }

    a:has(.logo) {
        top: 0.6rem;
    }
}

/* Medium screen sizes - 768px up*/

@media screen and (min-width: 768px) {

    .logo {
        height: 6rem;
    }
}

/* Large screen sizes - 992px up*/

@media screen and (min-width: 992px) {

    /* Creates line underneath navbar items when hovered or active */
    #nav-top .nav-link::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 80%;
        height: 0.2rem;
        background-color: var(--highlight-color);
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    #nav-top .nav-item:hover .nav-link::after,
    #nav-top .nav-link.active::after {
        transform: translateX(-50%) scaleX(1);
    }

    .hero {
        height: 80vh;
        background: url("../images/hero.webp") no-repeat bottom center / cover;
    }

    .logo {
        height: 6.5rem;
    }

    .message-container {
    top: 9.0625rem;    
}
}

/* small - medium screen sizes - 992px down*/

@media screen and (max-width: 992px) {

    /* Moves navbar down below logo when expanded */
    #navbarNavDropdown>ul {
        margin-top: 3.5rem;
    }
}