/* ----- Products List View ----- */

.product-card img {
    width: auto;
    height: 250px;
    max-width: 250px;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #101010);
}

.product-card {
    font-size: 1.25rem;
    color: var(--primary-color);
    font-family: var(--heading-font);
    cursor: pointer;
    font-weight: bold;
}

/* Select parent link element of class product-card */
a:has(.product-card) {
    text-decoration: none;
}

/* Pagination Element */
.pagination .page-link {
    text-decoration: none;
    color: var(--dark-color);
}

#current-page {
    background-color: var(--primary-color);
    color: var(--highlight-color);
}

/* ----- Product Details View ----- */

.product-details img {
    width: auto;
    height: 300px;
    max-width: 250px;
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #101010);
}

.product-details h2,
.product-details h3 {
    color: var(--dark-color);
}


/* ----- Media Queries ----- */

/* Large screen sizes - 992px up*/

@media screen and (min-width: 992px) {
    .product-details img {        
        height: 400px;
        max-width: 350px;
    }
}

