{% load static %}
{% load display_lables %}

<div class="col-lg-10 col-xl-8 basket-desktop">
    <h1 class="mb-3">Shopping Basket</h1>

    {% if basket_qty %}

    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col"></th>
                <th scope="col">Details</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in basket_items %}
            <tr>
                <th scope="row text-center">
                    {% if item.product.image_url %}
                    <img src="{{ item.product.image_url.url }}" alt="{{ item.product.name }}">
                    {% elif item.product.image %}
                    <img src="{% static 'images/' %}{{ item.product.image }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img src="{% static 'images/placeholder.webp' %}" alt="No image available">
                    {% endif %}
                </th>

                <td>
                    <ul class="list-unstyled">
                        <li>Name: {{ item.product.name }}</li>
                        <li>Size: {{ item.size|friendly_label }}</li>
                        {% if item.tiers %}
                        <li>Tiers: {{ item.tiers }}</li>
                        {% endif %}
                        <li>Sponge: {{ item.sponge|friendly_label }}</li>
                        <li>Filling: {{ item.filling|friendly_label }}</li>
                        <li>Icing: {{ item.icing|friendly_label }}</li>
                        <li>Main Colour: {{ item.main_colour|friendly_label }}</li>
                        <li>Secondary Colour: {{ item.secondary_colour|friendly_label }}</li>
                        <li>Cake Topper: {{ item.cake_topper|friendly_label }}</li>
                    </ul>
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total }}€</td>

                <!-- Edit Delete Icons -->
                <td class="basket-icons">
                    <a class="button-edit" href="#"><i class="fa-solid fa-pencil"></i></a>
                    <a class="button-delete ms-3" href="#"><i class="fa-solid fa-trash-can"></i></a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Total Summary -->
    <ul class="list-unstyled text-end">
        <li>Amount of Items: {{ basket_qty }}</li>
        <li>Grand Total: {{ grand_total }}€</li>
    </ul>

    <!-- Buttons Checkout -->
    <div class="text-end">
        <a class="button button-cancel mt-2" href="{% url 'products' %}">&larr; Baked Goods</a>
        <a class="button button-primary mt-2 ms-2" href="#">Checkout</a>
    </div>

    {% else %}
    <p>Your basket is currently empty</p>
    <a class="button button-primary mt-2" href="{% url 'products' %}">View Baked Goods</a>
    {% endif %}
</div>