{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero"></div>

<section class="container text-center mt-2 col-11 col-md-10 col-lg-8 col-xl-6">
    <h1 class="py-3">Bake My Cake</h1>

    <h2 class="my2">Best Online Cake Store in Dresden Germany</h2>
    <p>At Bake My Cake we not only strife to design <strong>elegant</strong> looking cakes but also
        <strong>affordable</strong> cakes. We offer a perfect blend of visual perfection and delicious taste. A cake
        that looks good but doesn't taste good will leave you with a bad taste in your mouth. A cake that tastes great
        but looks unflattering will remain an eye-soar.</p>
    <p class="mb-4"><strong>Cake is our passion</strong> and our goal is <strong>customer satisfaction!</strong></p>

    <h2 class="my2">Custom cakes or predesigned master pieces</h2>
    <p class="mb-4 ">We offer a wide range of <strong>trending cake designs</strong> from birthday cakes to wedding
        cakes
        all the way
        to <strong>Cupcakes!</strong> Here you can find cakes designed for babies, toddlers, kids, teens and adults.
        Select from our fancy and playful designs and order your cake online today. Didn't find anything you want? No
        problem!
        Submit a <strong>custom cake</strong> order online and we will get back to you with a quote tailored to your
        needs.</p>

    <h2 class="my2">Cakes the way you like it</h2>
    <p>Choose any cake or cupcake from our wide selection and customize it according to your needs and
        wants! All our
        baked goods can be customized by choosing a different size, amount of tiers, sponge, filling, icing and even
        colours. Our live quote system will update the costs according to your selections and give you a clear and
        transparent total price with no hidden costs. Why wait? You don't need a reason to eat cake.
    </p>
    <p class="mb-4"><strong>Order your cake online today.</strong></p>

</section>

{% endblock %}