{% load static %}

{% url 'index' as home_url %}
{% url 'about' as about_url %}
{% url 'products' as products_url %}
{% url 'custom_order' as custom_order_url %}
{% url 'products_admin' as products_admin_url %}
{% url 'add_product' as add_product_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best online cake store in Dresden">
    <meta name="keywords" content="Trending cake designs, Birthday Cakes, Event Cakes, Affordable cakes for kids, Order your perfect cake today, Delicious cupcakes,
        Order a cake online Dresden, Best online cake store in Dresden, Wedding Cakes, Delicious cupcakes, Cakes for baby and toddler, Where to buy cupcakes online Dresden,
        Affordable online cakes Dresden Germany, Custom cakes, Elegant cakes">
    <meta name="author" content="Gary Burke">
    <title>Bake My Cake | Order cake online today</title>

    <!-- Fav icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- CSS Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- Newsletter -->
    <script id="mcjs">
        ! function (c, h, i, m, p) {
            m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(
                m, p)
        }(document, "script",
            "https://chimpstatic.com/mcjs-connected/js/users/b4403bda55ed3ccd9dd98a100/09bd6e2195dd3cac73e5df835.js");
    </script>

    {% block extra_css %}
    {% endblock %}

</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Navbar section -->
    <header class="mb-0">
        <nav class="navbar navbar-expand-lg" id="nav-top" data-bs-theme="dark">
            <div class="container">

                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/logo-sm.webp' %}" alt="Bake my cake logo" class="logo">
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-1">
                            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                                href="{% url 'index' %}">Home</a>
                        </li>

                        <li class="nav-item mx-1">
                            <a class="nav-link {% if request.path == about_url %}active" aria-current="page{% endif %}"
                                href="{% url 'about' %}">About</a>
                        </li>

                        <li class="nav-item mx-1">
                            <a class="nav-link {% if request.path == products_url %}active"
                                aria-current="page{% endif %}" href="{% url 'products' %}">Baked Goods</a>
                        </li>                    

                        <li class="nav-item mx-1">
                            <a class="nav-link {% if request.path == custom_order_url %}active"
                                aria-current="page{% endif %}" href="{% url 'custom_order' %}">Custom Order</a>
                        </li>

                        {% if request.user.is_superuser %}
                        <li class="nav-item dropdown">
                            <button class="nav-link {% if request.path == add_product_url or request.path == products_admin_url %}active"
                                aria-current="page{% endif %}" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Admin</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'add_product' %}">Add Items</a></li>
                                <li><a class="dropdown-item" href="{% url 'products_admin' %}">Edit Items</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Sub-Navbar section -->
        <nav id="nav-sub" class="py-1">
            <div class="container">
                <ul class="list-unstyled list-inline py-2 mb-0 d-flex justify-content-end align-items-start">

                    <!-- Profile -->
                    <li class="list-inline-item text-center mx-4 dropdown">
                        <button class="btn-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                            {% if user.is_authenticated %}
                            <div class="account">{{ user }}</div>
                            {% else %}
                            <div class="account">Account</div>
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="#">Current Orders</a></li>
                            <li><a class="dropdown-item" href="#">Order History</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <!-- Basket -->
                    <li class="list-inline-item me-2">
                        <a id="basket" href="{% url 'view_basket' %}">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <div id="basket-count" class="d-flex justify-content-center align-items-center">
                                <strong>{{ basket_qty }}</strong></div>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <!-- Alert Messages -->
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>

    <!-- Main section -->
    <main class="mb-4">
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Scroll to Top Button -->
    <div id="scroll-top">
        <i class="fa-solid fa-circle-up"></i>
    </div>

    <!-- Footer Section -->
    <footer class="mt-auto pt-3">
        <div class="container">
            <div class="d-flex flex-column text-center">

                <!-- Facebook Page -->
                <a href="https://www.facebook.com" target="_blank"
                    aria-label="Visit our Facebook page (opens in a new tab)" rel="noopener"
                    class="align-items-center">Follow us on
                    <i class="fa-brands fa-facebook fa-lg ms-2"></i></a>

                <!-- Links -->
                <ul class="list-unstyled list-inline fs-6 mb-0 mt-3">
                    <li class="list-inline-item border-end pe-1 mx-0 pe-md-3"><a href="{% url 'about' %}">Store Details</a></li>
                    <li class="list-inline-item border-end pe-1 mx-0 px-md-3"><a href="{% url 'products' %}">Products</a></li>
                    <li class="list-inline-item px-0 mx-0 ps-md-3"><a
                            href="https://www.termsfeed.com/live/e5045f95-3e2b-4c62-b638-c6651bcdc671"
                            target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
            <hr>

            <!-- Copyright -->
            <p class="text-center fs-6 my-2">Developed by <a href="https://www.github.com/Gary-Burke" target="_blank"
                    rel="noopener" aria-label="Visit Github page of the developer Gary Burke">Gary
                    Burke</a> &copy; 2026
            </p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
    </script>

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/3a3a47fde5.js" crossorigin="anonymous"></script>

    {% block extras %}
    {% endblock %}

    <!-- Custom JS -->
    <script src="{% static 'js/base.js' %}" defer></script>

</body>

</html>