.checkout img {
    width: auto;
    height: 90px;
    max-width: 70px;
}

.text-small {
    font-size: 1rem;
}

.text-bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

#payment-form .form-check-label a {
    color: var(--dark-color);
}

/* ----- Media Queries ----- */

/* Large screen sizes - 992px up*/

@media screen and (min-width: 992px) {
    .checkout img {        
        height: 100px;
        max-width: 80px;
    }
}