.basket-desktop {
    display: none;
}

.basket-desktop img {
    height: 180px;
    max-width: 160px;
}

.basket-mobile img {
    width: auto;
    height: 140px;
    max-width: 120px;
}

.basket-desktop,
.basket-mobile {
    font-size: 1rem;    
}

.text-bold {
    font-weight: bold;
}

/* Icons for edit and delete */

.button-edit,
.button-delete {
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.button-edit {
    color: #045879;
}

.button-delete {
    color: #c92939;
}

/* ----- Media Queries ----- */

/* Medium screen sizes - 768px up*/

@media screen and (min-width: 768px) {
    .basket-desktop {
        display: block;
    }

    .basket-mobile {
        display: none;
    }
}

/* X-Large screen sizes - 1440px up*/

@media screen and (min-width: 1440px) {
    .basket-desktop img {
        height: 250px;
        max-width: 220px;
    }

}