.basket-desktop {
    display: none;
}

.basket-desktop img {
    height: 180px;
    max-width: 160px;
}

.basket-mobile img {
    width: auto;
    height: 150px;
    max-width: 130px;
}

.basket-desktop,
.basket-mobile {
    font-size: 1rem;    
}

.text-bold {
    font-weight: bold;
}

/* Icons for edit and delete */

.button-edit,
.button-delete {
    padding: 0px;
    margin: 0px;
    border: none;
    cursor: pointer;
}

.button-edit {
    color: #045879;
}

.button-delete {
    color: #c92939;
}

/* ----- Product Details View ----- */

.product-details img {
    width: auto;
    height: 300px;
    max-width: 250px;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #202020);
            filter: drop-shadow(0.5rem 0.5rem 0.5rem #202020);
}

.product-details h2,
.product-details h3 {
    color: var(--dark-color);
}

/* ----- Media Queries ----- */

/* Medium screen sizes - 768px up*/

@media screen and (min-width: 768px) {
    .basket-desktop {
        display: block;
    }

    .basket-mobile {
        display: none;
    }
}

/* Large screen sizes - 992px up*/

@media screen and (min-width: 992px) {
    .product-details img {
        height: 400px;
        max-width: 350px;
    }
}

/* X-Large screen sizes - 1440px up*/

@media screen and (min-width: 1440px) {
    .basket-desktop img {
        height: 250px;
        max-width: 220px;
    }

}