table img {
    width: auto;
    height: 150px;
    max-width: 120px;
}

tbody {
    font-size: 1rem;
}

/* ----- Media Queries ----- */

/* Large screen sizes - 992px up*/

@media screen and (min-width: 992px) {
    table img {        
        height: 200px;
        max-width: 180px;
    }
}