{% extends "base.html" %}
{% load static %}
{% load display_lables %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<section class="container">
    <div class="row ">
        <div class="col-10 col-md-10 col-lg-8 col-xl-7 mt-4 offset-md-1">
            <h2>Hello {{ request.user }},</h2>
            <p class="my-2 fs-4">Here you can add products directly to the Bake My Cake database!</p>

            <p class="my-2"><strong>Important!</strong><br>
                The business model requires all products to be added at their lowest possible
                cost. This means <strong>smallest and cheapest</strong> options for the <strong>base price.</strong></p>

            <form method="post" enctype="multipart/form-data" class="col-md-8 col-xl-7 mt-3">
                {{ product_form|crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="button-primary px-3 mt-1">Submit</button>
            </form>

        </div>
    </div>
</section>

{% endblock %}

{% block extras %}
<!-- jQuery CDN link -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{% static 'products/js/products.js' %}" defer></script>
{% endblock %}