{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="list-group position-fixed" id="categories">
    <li class="list-group-item lead">Categories</li>
    <a href="{% url 'products' %}?category=all-cakes" class="list-group-item list-group-item-action">All Cakes</a>
    <a href="{% url 'products' %}?category=birthday-cakes" class="list-group-item list-group-item-action">Birthdays</a>
    <a href="{% url 'products' %}?category=kids-cakes" class="list-group-item list-group-item-action">Kids</a>
    <a href="{% url 'products' %}?category=event-cakes" class="list-group-item list-group-item-action">Events</a>
    <a href="{% url 'products' %}?category=cupcakes" class="list-group-item list-group-item-action">Cupcakes</a>
</div>

<section class="container text-center">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-2 g-lg-3">
        {% for product in products_list %}
        <div class="col">
            <div class="p-3 product-card">
                {% if product.image_url %}
                <img src="{{ product.image_url }}" alt="{{ product.name }}">

                {% elif product.image %}
                <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">

                {% else %}
                <img src="{% static 'images/placeholder.webp' %}" alt="No image available">

                {% endif %}

                <div class="row justify-content-between">
                    <p class="col-8 lead">{{ product.name }}</p>
                    <p class="col-4 lead">{{ product.base_price }}€</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

{% endblock %}

{% block extras %}
<!-- jQuery CDN link -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{% static 'js/products.js' %}" defer></script>
{% endblock %}