{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section class="container text-center">

    <div class="row my-1">

        <!-- Category Selection -->
        <div class="col-6 col-md-4 col-lg-2">
            <select class="form-select" id="category-selector" aria-label="Category selection">
                <option value="reset" {% if current_category == 'None_None' %}selected{% endif %}>Categories</option>
                <option value="all-cakes" {% if current_category == 'all-cakes' %}selected{% endif %}>All Cakes</option>
                <option value="birthday-cakes" {% if current_category == 'birthday-cakes' %}selected{% endif %}>
                    Birthdays</option>
                <option value="kids-cakes" {% if current_category == 'kids-cakes' %}selected{% endif %}>Kids</option>
                <option value="event-cakes" {% if current_category == 'event-cakes' %}selected{% endif %}>Events
                </option>
                <option value="cupcakes" {% if current_category == 'cupcakes' %}selected{% endif %}>Cupcakes</option>
            </select>
        </div>

        <!-- Sort by options -->
        <div class="col-6 col-md-4 col-lg-2">
            <select class="form-select" id="sort-selector" aria-label="Sort by options">
                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                </option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to
                    low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            </select>
        </div>

    </div>

    <!-- Disply Product Cards -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gx-3 gy-3 gy-lg-5 gx-lg-4 mt-1">
        {% for product in products_list %}
        <div class="col">
            <div class="product-card">
                {% if product.image_url %}
                <img src="{{ product.image_url }}" alt="{{ product.name }}">
                {% elif product.image %}
                <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'images/placeholder.webp' %}" alt="No image available">
                {% endif %}
                
                <div class="d-flex flex-row justify-content-evenly mt-3">
                    <p><strong>{{ product.name }}</strong></p>
                    <p><strong>{{ product.base_price }}€</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-5">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}" class="page-link"> &laquo;
                Previous</a>
        </li>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
        <li class="page-item">
            <a href="?{{ query_string }}&page={{ page_num }}" class="page-link"
                id="{% if page_num == page_obj.number %}current-page{% else %}{{ page_num }}{% endif %}">{{ page_num }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?{{ query_string }}&page={{ page_obj.next_page_number }}" class="page-link"> Next &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<!-- Scroll to Top Button -->
 <div id="scroll-top">
    <i class="fa-solid fa-circle-up"></i>
 </div>


{% endblock %}

{% block extras %}
<!-- jQuery CDN link -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{% static 'products/js/products.js' %}" defer></script>
{% endblock %}

