{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section class="container">

    <div class="row product-details mx-auto mt-4">

        <div class="col-md-5 text-center">
            {% if product.image_url %}
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            {% elif product.image %}
            <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">
            {% else %}
            <img src="{% static 'images/placeholder.webp' %}" alt="No image available">
            {% endif %}
        </div>

        <div class="col-md-7 ">
            <h2>{{ product.name }}</h2>
            <h3 id="product-total">{{ product.base_price }}€</h3>

            <form class="row" id="product-details" data-product-id="{{ product.id }}" data-slug="{{ product.slug }}">

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="size">
                            {% for s in size %}
                            <option value="{{ s }}">{{ s }}</option>   
                            {% endfor %}                         
                        </select>
                        <label for="size">Size</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="tiers">
                            {% for t in tiers %}
                            <option value="{{ t }}">{{ t }}</option>   
                            {% endfor %}
                        </select>
                        <label for="tiers">Tiers</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="sponge">
                            {% for s in sponge %}
                            <option value="{{ s }}">{{ s }}</option>   
                            {% endfor %}
                        </select>
                        <label for="sponge">Sponge</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="filling">
                            {% for f in filling %}
                            <option value="{{ f }}">{{ f }}</option>   
                            {% endfor %}
                        </select>
                        <label for="filling">Filling</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="icing">
                            {% for i in icing %}
                            <option value="{{ i }}">{{ i }}</option>   
                            {% endfor %}
                        </select>
                        <label for="icing">Icing</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="primary-colour">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="primary-colour">Main Colour</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="secondary-colour">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="secondary-colour">Secondary Colour</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <label for="quantity">Quantity</label>
                    </div>
                </div>

            </form>

        </div>
    </div>

</section>

<!-- Scroll to Top Button -->
<div id="scroll-top">
    <i class="fa-solid fa-circle-up"></i>
</div>
{% endblock %}

{% block extras %}
<!-- jQuery CDN link -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{% static 'products/js/products.js' %}" defer></script>
{% endblock %}