{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<section class="container">

    <div class="row product-details mx-auto mt-4">

        <div class="col-md-5 text-center">
            {% if product.image_url %}
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            {% elif product.image %}
            <img src="{% static 'images/' %}{{ product.image }}" alt="{{ product.name }}">
            {% else %}
            <img src="{% static 'images/placeholder.webp' %}" alt="No image available">
            {% endif %}
        </div>

        <div class="col-md-7 ">
            <h2>{{ product.name }}</h2>
            <h3>{{ product.base_price }}€</h3>

            <form action="" class="row">

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">Small</option>
                            <option value="2">Medium</option>
                            <option value="3">Large</option>
                        </select>
                        <label for="floatingSelectGrid">Size</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Tiers</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">Chocolate</option>
                            <option value="2">Vanilla</option>
                            <option value="3">Coffee</option>
                            <option value="4">Carrot</option>
                            <option value="5">Lemon</option>
                        </select>
                        <label for="floatingSelectGrid">Sponge</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Filling</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Icing</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Main Colour</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Secondary Colour</label>
                    </div>
                </div>

                <div class="col-12 col-lg-6 my-2">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelectGrid">Quantity</label>
                    </div>
                </div>

            </form>

        </div>
    </div>

</section>
{% endblock %}

{% block extras %}
<!-- jQuery CDN link -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{% static 'products/js/products.js' %}" defer></script>
{% endblock %}